@import url('https://fonts.googleapis.com/css?family=Lato|Poppins');

:root {
	--primaryRed: #fc4a1a;
	--primaryYellow: #f7b733;
	--primaryWhite: #fff;
	--primaryGray: #dfdce3;
	--primaryBlack: #222;
	--primaryBlue: #33658a;
	--primaryTeal: #3fd0d4;
	--mainTransition: all 0.3s linear;
	--mainSpacing: 4px;
	--lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
	--darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color: var(--primaryBlack);
	background: var(--primaryWhite);
	line-height: 1.4;
	font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	margin-bottom: 1.25rem;
	letter-spacing: var(--mainSpacing);
}
p {
	margin-bottom: 1.25rem;
}
.defaultHeroImage {
	min-height: calc(100vh - 62px);
	background: linear-gradient(rgba(63, 208, 212, 0.6), rgba(0, 0, 0, 0.7)),
		url('../../images/kids-reading-hero-image.jpg') center/cover no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-white,
.btn-primary {
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: var(--mainSpacing);
	color: var(--primaryWhite);
	border: 2px solid var(--primaryWhite);
	padding: 0.9rem 1.6rem;
	display: inline-block;
	transition: var(--mainTransition);
	cursor: pointer;
}
.btn-white:hover {
	background: var(--primaryWhite);
	color: var(--primaryBlue);
}
.btn-primary {
	background: var(--primaryBlue);
	color: var(--primaryWhite);
	border: 2px solid var(--primaryBlue);
}
.btn-primary:hover {
	background: transparent;
	color: var(--primaryBlue);
}
main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
