.card {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.coverImage {
	height: 15rem;
	width: 10rem;
	cursor: pointer;
}

.title {
	text-align: center;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: var(--primaryBlack);
}
