.nav-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.4rem 0.5rem;
}
.logo {
	height: 4.5rem;
	width: 9rem;
}
.menu-btn {
	background: transparent;
	border: none;
	outline: none;
}
.menu-btn:hover {
	cursor: pointer;
}
.menu-icon {
	color: var(--primaryBlue);
	font-size: 4em;
}

.nav-links {
	list-style-type: none;
	transition: var(--mainTransition);
	height: 0;
	overflow: hidden;
}
.show-nav {
	height: auto;
}
.nav-links a {
	display: block;
	font-size: 1.2em;
	padding: 1.25rem;
	text-decoration: none;
	color: var(--primaryBlue);
	transition: var(--mainTransition);
	font-weight: bold;
	letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
	color: var(--primaryYellow);
}

@media screen and (min-width: 576px) {
	.header {
		padding: 0 2rem;
	}
}

@media screen and (min-width: 992px) {
	.take-action-button {
		margin: 10px;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: var(--mainSpacing);
		color: var(--primaryWhite);
		font-weight: bold;
		transition: var(--mainTransition);
		cursor: pointer;
		background: var(--primaryRed);
		border: 2px solid var(--primaryWhite);
	}
	.take-action-button a {
		color: var(--primaryWhite);
		padding: 10px;
	}
	.take-action-button:hover {
		background: var(--primaryWhite);
		border: 2px solid var(--primaryRed);
	}
	.take-action-button a:hover {
		color: var(--primaryRed);
	}
	.menu-btn {
		display: none;
	}
	.header-container {
		max-width: 1280px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.nav-links {
		height: auto;
		display: flex;
	}
}
